.icon-box{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/********************  Media Queries Start  ********************/
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 991px) {
    .icon-box{
        width: 60px;
        height: 60px;
        border-radius: 16px;
    }
    .normal-state{
        width: 40px;
        height: 40px;
    }
    .hover-state{
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 570px) {
}
@media screen and (max-width: 479px) {
}